<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create a New Student Page</title>
</head>
<body>
<header>
    <h1>Create or Edit Course</h1>
</header>
<form th:method="POST" th:action="@{'/courses/add/{id}'(id=${course != null ? course.getCourseId() : 0})}">

    </br>
    </br>
        <label for='name'>Name:</label>
        <input id='name' type='text' name='name' th:value="(${course} != null ? ${course.getName()} : '')"/>
    </br>
    </br>
        <label for='description'>Descriprion:</label>
        <th:block>
            <textarea id='description' name='description' th:text="(${course} != null ? ${course.getDescription()} : '')">
            </textarea>
        </th:block>
    </br>
    </br>
        <label for="TeacherID">Teacher ID:</label>

        <select id="TeacherID" name="TeacherID">
            <th:block th:each="teacher : ${teachers}">
                <option th:selected="${course!= null && course.getTeacher() != null && teacher.getId()==course.getTeacher().getId()}" th:name="${teacher.getPersonName().getName()}" th:value="${teacher.getId()}">
                    <th:block th:text="${teacher.getPersonName().getName()}"></th:block>
                </option>
            </th:block>
        </select>

        <select id="typeName" name="typeName">
            <option th:selected="${course!=null && course.getType()==0}" value="WINTER">Winter</option>
            <option th:selected="${course!=null && course.getType()==1}" value="SUMMER">Summer</option>
            <option th:selected="${course!=null && course.getType()==2}" value="MANDATORY">Mandatory</option>
            <option th:selected="${course!=null && course.getType()==3}" value="ELECTIVE">Elective</option>
        </select>
    </br>
    </br>
    </br>
    <input type='submit' value='Submit'/>
</form>
</section>
</body>
</html>