<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add new Student to Course</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
    <h2>Select the student to enroll:</h2>
    <a href='/createStudent' type='button'>Create New Student</a> <br/> <br/>
    <form th:method="POST" th:action="@{/addStudent}">
        <div th:each="student : ${liststudents}">
            <input type="radio" name="chosenStudent" th:value="${student.getUsername()}">
            <th:block th:text="${student.getName()} +' '+ ${student.getSurname()}"></th:block><br/>
        </div>
        <br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
    <br/>
    <br/>
    <br/>
    <a th:href="@{'/grades/{id}' (id=${courseId})}">Grade students in this course</a>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td th:text="${courseId}"></td>
        </tr>
    </table>
</aside>

</body>
</html>